


.body-wrapper {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.메인 {
   width :450px;
   margin: 0 auto;
   margin-bottom: 10%;
}


.가입단계 {
    height: 100px;
    width: 800px;
    background-color: #FAFAFA;
    display: flex;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    border-radius: 10px;
}

.탑로고 {
    text-align: center;
    padding-top: 5%;
}

#logo{
	 width:150px;
    height:50px;
}

.이용약관제목,
.개인정보수집및이용동의 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
    white-space: pre-wrap;
}


.이용약관틀,
.개인정보수집틀 {

    background-color: #f5f5f5;
    height: 180px;
    width: 450px;
    overflow: auto;
    white-space: pre-wrap;
}

.이용약관동의체크,
.개인정보수집동의체크 {
    background-color: #ffffff;
    margin: 10px 0 5px 0;
}

.전체동의체크 {
    background-color: #ffffff;
    margin-bottom: 50px;
}

#다음단계 {
    display: inline-block;
    background-color: #10bc0d;
    height: 40px;
    width: 150px;
    border: none;
    color: white;
    margin-left: 50px;
    cursor: pointer;
}

#이전단계 {
    display: inline-block;
    background-color: #b1b1b1;
    height: 40px;
    width: 150px;
    border: none;
    color: white;
    margin-left: 50px;
    font-size: 15px;
    font-weight: 200;
}


.step{
    margin-top: 8px;
    display: flex;
    justify-content: center;
  
}



#가입단계1 {
    width: 250px;
    height: 100px;
    font-weight: bolder;
}


#가입단계2 {
    width: 300px;
    height: 100px;
    opacity: 25%;
}


#가입단계3 {
    width: 250px;
    height: 100px;
    opacity: 25%;
}

.triangle {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 50px solid hsl(0, 0%, 86%);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    margin-top: 25px;
}

.popmenu1 {
    display:none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 200px;
    text-align: center;
    background: white;
    
}

.popmenu1 p {
    margin-top: 80px;
}

.exit1 {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #10bc0d;
    color: white;
    cursor: pointer;
    border:none;
}