

.wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.탑로고 {
    text-align: center;
    padding-top: 5%;
}


h1 {
    font-size: 35px;
    text-align: center;
    margin: 10% 0 10% 0;
}

.toLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    margin-top:10%
}



#bottombtn {
    text-align: center;
    margin: 0 auto;
    background-color: #10bc0d;
    height: 40px;
    width: 150px;
    border: none;
    margin-bottom: 10%;
    cursor: pointer;

   
}

.가입단계 {
    height: 100px;
    width: 800px;
    background-color: #FAFAFA;
    display: flex;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    border-radius: 10px;
}

#가입단계1 {
    width: 250px;
    height: 100px;
    opacity: 25%;
}


#가입단계2 {
    width: 300px;
    height: 100px;
    opacity: 25%;
}


#가입단계3 {
    width: 250px;
    height: 100px;
    font-weight: bolder;
}

.triangle {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 50px solid hsl(0, 0%, 86%);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    margin-top: 30px;
}