.wrapper {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    margin-bottom: 10%;
}

.wrapper-input {
    width: 800px;
    border: none;
    margin: 0 auto;
    font-size: 18px;
}

.정보 {
    margin-left: 50px;
}

input {
    border: none;
}



.탑로고 {
    text-align: center;
    padding-top: 5%;
}

.line {
    width: 800px;
    border: 3px solid #000000;
    margin-bottom: 10px;
}

.필수입력 {
    text-align: right;
}

h1 {
    margin: 3% 0 3% 0;
    text-align: center;
    font-size: 40px;
}

.회원정보 {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    text-indent: 20px;
    background-color: rgba(228, 228, 228, 0.5);
    margin: 10px 0 10px 0;
}

#addr {
    background-color: #10bc0d;
    color:white;
    cursor: pointer;
}

.라벨 {
    width: 150px;
    display: inline-block;
}

#필수빨강 {
    color: red;
}

.입력조건 {
    color: #ff0000;
    font-size: 12px;
    margin: 0 0 0 180px;
    display:none;
}

#num_form{
    position: relative;
}

#countdown{
    color: #ff0000 !important;
    position: absolute;
    right: 220px;
    top: 20px;
}


.YYYY,
.MM,
.DD {
    background-color: rgba(228, 228, 228, 0.5);
    height: 30px;
    width: 100px;
    text-align: center;
}

.MM,
.DD {
    margin-left: 40px;
}

/* 인증하기 버튼  */
.인증 {
    background-color: #b1b1b1;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    margin-left: 20px;
    color:white;
    cursor: pointer;
}

.성별 {
    margin: 30px 0 30px 0;
}

#여자 {
    margin-left: 30px;
}

#선택안함 {
    margin-left: 80px;
}

.생년월일 {
    margin: 50px 0 30px 0;
}

/* 하단 가입, 이전단계 버튼  */
.btm_btn {
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-top: 150px;
}

.join {
    height: 40px;
    width: 150px;
    background-color: #10bc0d;
    margin-right: 40px;
    border:none;
    color: white;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
}

.next {
    height: 40px;
    width: 150px;
    background-color: #b1b1b1;
    margin-left: 40px;
    border:none;
    color: white;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 15px; 
}


/* 인증번호 입력창, 주소 창 숨김} */ 

#num_form, #detail_addr_form, #addr_form2, #postal_code{
    display:none;

}
#addr2{
    background-color:#cfcfcf;
    font-weight: bold;
}


#addr_btn{
    background-color: #b1b1b1;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    margin-left: 20px;
    color:white;
    cursor: pointer;
}

#post_num{
    background-color: #d0d0d0;
    height: 40px;
    width: 150px;
    border-radius: 10px;
   margin-top: 30px;
   font-weight: bold;
}

/* 팝업 */

#common_pop {
    display:none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 200px;
    text-align: center;
    background: white;
   
}

#common_pop p {
    margin-top: 80px;
}

#common_btn {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #10bc0d;
    color: white;
    cursor: pointer;
}
 
