<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.zerock.myapp.mapper.CartMapper">

	<!-- 카트 추가 -->
	<insert id="addCart">
	
		INSERT INTO cart(member_id, product_no, count)
		VALUES(#{member_id}, #{product_no}, #{count}) 
	
	</insert>
	
	
	<!-- 카트 삭제 -->
	<delete id="deleteCart">
	
		DELETE FROM cart WHERE no = #{no}
	
	</delete>
	
	
	<!-- 카트 수량 수정 -->
	<update id="modifyCount">
	
		UPDATE cart SET count=#{count} WHERE no = #{no}
	
	</update>
	
	<!-- resultType는 select에서만! 쿼리가 실행되면 resultset이 리턴되며 resultset에 저장된 검색결과를 어떤 자바 객체에 매핑할지 지정할 때 사용 -->
	<!-- 카트 목록 -->
	<select id="getCart" resultType="org.zerock.myapp.domain.CartDTO">
	
		SELECT a.no, a.member_id, a.product_no, a.count, b.name, b.price, b.discount_price
		FROM cart a left outer join product b on a.product_no = b.no
		WHERE member_id = #{member_id}	
	
	</select>
	
	<!-- 카트 확인 -->
	<select id="checkCart" resultType="org.zerock.myapp.domain.CartDTO">
	
		SELECT * 
		FROM cart 
		WHERE member_id = #{member_id} and product_no = #{product_no}
	
	</select>

</mapper>