<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="org.zerock.myapp.mapper.FarmMapper">
 
 	<!-- 농가 거래처 상세 조회 -->
 	<select id="select" resultType="org.zerock.myapp.domain.FarmVO">
 		SELECT * FROM FARM
 		WHERE no = #{no}
 	</select>
 	
 	
 	  <!-- 게시글 목록 조회 (페이징) -->
	<select id="getListPaging" resultType="org.zerock.myapp.domain.FarmVO">
	  <![CDATA[
	    
		SELECT * 
			FROM FARM
			ORDER BY no DESC
			OFFSET (#{currPage} - 1) * #{amount} ROWS
			FETCH NEXT #{amount} ROWS ONLY
		
		]]>	
	</select>
  
  
  
  
  
	<!-- 게시물 총 갯수 -->
	<select id="getTotal" resultType="int">
	  	SELECT count(*) FROM FARM
	</select>
  
  
 	
 	<!-- 농가 거래처 등록 -->
 	<insert id="insert">
 		INSERT INTO FARM (name, business_no, location, tel) VALUES (#{name}, #{business_no}, #{location}, #{tel})
 	</insert>
 	
 	<!-- 농가 거래처 수정 -->
 	<update id="update" >
 		UPDATE 
 			FARM
 		SET
 			name = #{name},
 			business_no = #{business_no},
 			location = #{location},
 			tel = #{tel}
 		WHERE
 			no = #{no}
 	</update>
 	
 	<!-- 농가 거래처 삭제 -->
 	<delete id="delete">
 		DELETE FROM FARM
 		WHERE no = #{no}
 	</delete>
 	
 
 </mapper>