<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="org.zerock.myapp.mapper.MemberMapper">
	
		<!-- 셍나 로그인: memberLogin() -->
		<!-- 암호화 미적용 -->
		<!-- <select id="memberLogin" resultType="org.zerock.myapp.domain.MemberDTO">
		    SELECT 
		    	*
		    FROM 
		    	member 
		    WHERE 
		        ID = #{id}
		        AND PASSWORD = #{password}
		</select> -->
		<!-- 암호화 적용 -->
		<select id="memberLogin" resultType="org.zerock.myapp.domain.MemberDTO">
		    SELECT 
		    	ID, PASSWORD, NAME, ADMINCK
		    FROM 
		    	member 
		    WHERE 
		        ID = #{id} 
		</select>
		
		<!-- 셍나 아이디 찾기 : 휴대폰 인증 (이름, 전화번호) -->
		<!-- COUNT로 1 반환 = 회원정보가 존재한다는 뜻 -->
		<select id="idCheck" parameterType="String" resultType="int">
			SELECT 
				COUNT(*) 
			FROM 
				MEMBER
			WHERE 
				NAME = #{name} 
				AND TEL = #{tel}
		</select>
		
		<!-- 셍나 아이디 찾기 : 결과 -->
		<select id="findIdResult" parameterType="String" resultType="String">
			SELECT
				ID
			FROM
				MEMBER
			WHERE 
				NAME = #{name} 
				AND TEL = #{tel}	
		</select>
		
		<!-- 셍나 아이디 찾기 : 이메일 인증 (이름, 이메일) -->
		<select id="findIdE" resultType="org.zerock.myapp.domain.MemberDTO">
			SELECT
				COUNT(*)
			FROM
				MEMBER
			WHERE
				NAME = #{name}
				AND EMAIL = #{email}
		</select>

		<!-- 혁규 회원가입 -->
		<insert id="memberSignup" >
		  INSERT INTO member (
		  	ID, PASSWORD, NAME, EMAIL, TEL, ADDRESS1, ADDRESS2, ADDRESS3, GENDER, SIGNUP_DATE, BIRTH_YEAR, BIRTH_MONTH, BIRTH_DAY, SOCIAL_TYPE, ADMINCK)
		  VALUES (
		  	#{id,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{name}, #{email}, #{tel}, #{address1, jdbcType=INTEGER}, 
		  	#{address2,jdbcType=VARCHAR}, #{address3,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
		  	#{signup_date,jdbcType=TIMESTAMP}, #{birth_year,jdbcType=INTEGER}, #{birth_month, jdbcType=INTEGER},
			#{birth_day, jdbcType=INTEGER}, 'None', #{adminCk}
		  )
		</insert>
		
		<!-- 주문자 정보(찬돌) -->
		<select id="getMemberInfo" parameterType="String" resultType="org.zerock.myapp.domain.MemberDTO">
			SELECT ID, NAME, TEL, EMAIL, ADDRESS1, ADDRESS2, ADDRESS3
			FROM Member
			WHERE Id = #{id}
		</select> 
	
	</mapper>

