<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="org.zerock.myapp.mapper.MemberMapper">
	
		<!-- 셍나 로그인: memberLogin() -->
		<select id="memberLogin" resultType="org.zerock.myapp.domain.MemberVO">
		    SELECT 
		    	ID, PASSWORD, ADMINCK
		    FROM 
		    	member 
		    WHERE 
		        ID = #{id} 
		        AND PASSWORD = #{password}
		</select>
	
		<!-- 혁규 회원가입 -->
		<insert id="memberSignup" >
		  INSERT INTO member (
		  	ID, PASSWORD, NAME, EMAIL, TEL, ADDRESS1, ADDRESS2, ADDRESS3, GENDER, SIGNUP_DATE, BIRTH_DATE, ADMINCK)
		  VALUES (
		  	#{id,jdbcType=NULL}, #{password,jdbcType=NULL}, #{name}, #{email}, #{tel}, #{address1, jdbcType=NULL}, #{address2}, #{address3},
		  	#{gender,jdbcType=VARCHAR}, #{signup_date,jdbcType=TIMESTAMP}, #{birth_date,jdbcType=VARCHAR}, #{adminCk}
		  )
		</insert>
		
		<!-- 주문자 정보(찬돌) -->
		<select id="getMemberInfo" resultType="org.zerock.myapp.domain.MemberVO">
			SELECT ID, Name, email, ADDRESS1, ADDRESS2, ADDRESS3
			FROM Member
			WHERE Id = #{id}
		</select> 
	
	</mapper>