<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.zerock.myapp.mapper.MypageMapper">

	<!-- 매핑에 필요한 id값 가져오기 위해서 회원 상세 조회 -->
	<select id="getID" resultType="org.zerock.myapp.domain.MemberDTO">
 		SELECT 
 			* 
 		FROM 
 			MEMBER
 		WHERE 
 			id = #{id}
 	</select>
 	
 	<!-- 주문 정보 가져오기 -->
 	<select id="getOrder" resultType="org.zerock.myapp.domain.OrderDTO">
 		SELECT
 			*
 		FROM
 			MYMG_ORDER
 		WHERE
 			member_id = #{id, jdbcType=VARCHAR}
	</select>
	
	<select id="getOrderItem" resultType="org.zerock.myapp.domain.OrderItemDTO">
		SELECT
			*
		FROM
			ORDER_LIST
	</select>
	
	<!-- 주문상세 조회 -->
	<select id="select" resultType="org.zerock.myapp.domain.OrderDTO">
		SELECT
			*
		FROM
			MYMG_ORDER
		WHERE
			no = #{no, jdbcType=INTEGER}
	</select>

</mapper>