<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="org.zerock.myapp.mapper.OrderMapper">
 		<select id="getProductsInfo" resultType="org.zerock.myapp.domain.OrderPageItemDTO">
 			SELECT *
 			FROM product
 			WHERE No = #{No}
 		</select>
 		
 		<select id="getOrderInfo" resultType="org.zerock.myapp.domain.OrderItemDTO">
			SELECT no, price, discount, stock <!-- count가 없어서 stock을 추가했는데 맞을까..? -->
			FROM product
			WHERE no = #{no, jdbcType=VARCHAR}
		</select>
		
		<select id="enrollOrder" parameterType="org.zerock.myapp.domain.OrderDTO">		<!-- no 제외 -->
			INSERT INTO MYMG_ORDER( member_id, receiver_name, receiver_address1, receiver_address2, receiver_address3, receiver_tel, delivery_cost, delivery_state)
			VALUES ( #{member_id, jdbcType=VARCHAR}, #{receiver_name, jdbcType=VARCHAR}, #{receiver_address1, jdbcType=VARCHAR},
					 #{receiver_address2, jdbcType=VARCHAR}, #{receiver_address3, jdbcType=VARCHAR}, #{receiver_tel},
					 #{delivery_cost, jdbcType=VARCHAR}, '배송준비' ) 
		</select>
		
		<select id="enrollOrderItem"> <!-- no 제외 -->
			INSERT INTO ORDER_LIST(order_no, product_no, count, price, discount)
			VALUES (#{order_no}, #{product_no}, #{count}, #{price}, #{discount})
		</select>
		
		<select id="deductStock" resultType="org.zerock.myapp.domain.ProductDTO">
			UPDATE product
			set stock = #{stock}
			WHERE no = #{no}
		</select>

		<select id="deleteOrderCart">
			DELETE FROM cart
			WHERE  member_id = #{member_id} AND product_id = #{product_id}
		</select>
		
 </mapper>
 
 <!-- SELECT No, Name, Price, Discount  -->