<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="org.zerock.myapp.mapper.OrderMapper">
 		<select id="getProductsInfo" resultType="org.zerock.myapp.domain.OrderPageItemDTO">
 			SELECT *
 			FROM product
 			WHERE no = #{productId, jdbcType=INTEGER}
 		</select>
 		
 		<select id="getOrderInfo" parameterType="org.zerock.myapp.domain.OrderItemDTO">
			SELECT no, price, discount
			FROM product
			WHERE no = #{product_no, jdbcType=INTEGER} <!-- jdbcType넣어야 에러안남 -->
		</select>
		
		<select id="enrollOrder" parameterType="org.zerock.myapp.domain.OrderDTO">
			INSERT INTO MYMG_ORDER( member_id, receiver_name, receiver_address1, receiver_address2, receiver_address3, receiver_tel, delivery_cost, delivery_state)
			VALUES ( #{member_id, jdbcType=VARCHAR}, #{receiver_name, jdbcType=VARCHAR}, #{receiver_address1, jdbcType=VARCHAR},
					 #{receiver_address2, jdbcType=VARCHAR}, #{receiver_address3, jdbcType=VARCHAR}, #{receiver_tel},
					 #{delivery_cost,  jdbcType=NUMERIC}, '배송준비' ) 
		</select>
		
		<insert id="enrollOrderItem" parameterType="org.zerock.myapp.domain.OrderItemDTO">
			INSERT INTO ORDER_LIST(order_no, product_no, count, price, discount)
			VALUES (#{order_no, jdbcType=INTEGER}, #{product_no, jdbcType=INTEGER}, #{count, jdbcType=INTEGER}, #{price, jdbcType=INTEGER}, #{discount, jdbcType=INTEGER})
		</insert>
				
		<select id="deductStock" resultType="org.zerock.myapp.domain.ProductDTO">
			UPDATE product
			set stock = #{stock, jdbcType=INTEGER}
			WHERE no = #{no}
		</select>

 </mapper>
 
 <!-- SELECT No, Name, Price, Discount  -->
 
 <!-- 		<select id="enrollOrder" parameterType="org.zerock.myapp.domain.OrderDTO">
			INSERT INTO MYMG_ORDER( member_id, receiver_name, receiver_address1, receiver_address2, receiver_address3, receiver_tel, delivery_cost, delivery_state)
			VALUES ( #{member_id, jdbcType=VARCHAR}, #{receiver_name, jdbcType=VARCHAR}, #{receiver_address1, jdbcType=VARCHAR},
					 #{receiver_address2, jdbcType=VARCHAR}, #{receiver_address3, jdbcType=VARCHAR}, #{receiver_tel},
					 #{delivery_cost,  jdbcType=NUMERIC}, '배송준비' ) 
		</select> -->
 
 <!-- 			<insert id="enrollOrderItem" parameterType="org.zerock.myapp.domain.OrderItemDTO">
			INSERT INTO ORDER_LIST(order_no, product_no, count, price, discount)
			VALUES (#{order_no, jdbcType=INTEGER}, #{product_no, jdbcType=INTEGER}, #{count, jdbcType=INTEGER}, #{price, jdbcType=INTEGER}, #{discount, jdbcType=INTEGER})
		</insert>  -->