<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.myapp.mapper.SocialMemberMapper">


	<!-- 혁규 카카오 회원가입 -->
	<insert id="kakaoSignup" parameterType="java.util.HashMap">
		INSERT INTO social_member
		(
		ID, EMAIL, profile) VALUES (
		#{id}, #{profile}, #{email}
		)
	</insert>

	<select id="kakao" parameterType="java.util.HashMap">

		select * from social_member where id={id} and email=#{email}

	</select>

</mapper>

