<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.zerock.myapp.mapper.UserInfoMapper">

	<!-- 회원 상세 조회 -->
	<select id="select" resultType="org.zerock.myapp.domain.MemberDTO">
 		SELECT * 
 		FROM MEMBER
 		WHERE id = #{id}
 	</select>
	
	<!-- 회원 상세 업데이트(비밀번호 제외) -->
	<update id="update">
	    UPDATE member 
	    SET name = #{name}, tel = #{tel}, address1 = #{address1}, 
	    address2 = #{address2}, address3 = #{address3}, gender = #{gender}
	    WHERE id = #{id}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePw">
		UPDATE member
		SET password = #{password}
		WHERE id = #{id}
	</update>
	
	<!-- 회원 탈퇴 -->
 	<delete id="delete">
 		DELETE FROM member
 		WHERE id = #{id}
 	</delete>

</mapper>