@charset "UTF-8";

    
/* 바디 */
body {
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

/* 메인 */
main {
    margin: 0 80px;
}

/* 헤더 - 로그인 상태 */
.state {
    /* float: right; */
    text-align: right;
    /* margin-top: 0px; */
    margin-bottom: 50px;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    padding-right: 30px;
}

.login {
    margin-right: 20px;
}

div h1 {
    text-align: center;
    margin: 0px;
    /* font-size: 30px; */
}



.admin {
    text-align: center;
    font-weight: 700;
    margin: 0;
}

nav {
    height: 50px;
    padding-left: 30px;
    margin-top: 30px;
    background-color: rgb(175, 124, 213);
    display : flex;
    /* justify-content: center; */
    align-items: center;
}

.menu1 {
    display: inline;
    /* border: black solid 1px; */
    
}

#menu2 {
    float: left;
    text-align: center;
    margin: 0;
    padding: 0px;
    border: 11BC0D solid 1px;
    display: inline-block;
    width: 150px;
    list-style: none;
    /* border: black solid 1px; */
    background-color: rgb(238, 238, 238);
    text-decoration: none;
    
}

#menu2>li {
    display: block;
    color: #616161;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #ceced2;
}

#menu2>li:hover {
    background-color: rgb(175, 124, 213);
}



a{
    text-decoration: none;
    color: rgb(49, 36, 53);
}



h2{
    font-size : 30px;
    margin-bottom : 40px;
}

.test {
    color: gray;
    font-size: 20px;
}

.content {
    font-size: 13px;
    font-weight: 500;
    font-family: "맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
    padding: 0;
    width : 780px;
    height: 700px;
    margin : auto;
}

.content h1 {
    padding-top : 20px;
}

.write {
    margin-bottom: 20px;
}

a:link {color:black; text-decoration: none;}
a:visited {color:black; text-decoration: none;}
a:hover {color:black; text-decoration: underline;}
	 
